.color_seedWeb{
    color: #10aaae;
}

.color_white{
    color: #FFFFFF;
}

.color_white:hover{
    color: #FFFFFF;
}

.modal_default_ok{
    padding: 3px;
    width: 80px;
    background-color: #10aaae;
    color: #FFFFFF;
    border: 4px solid #10aaae;
    border-radius: 13px;
}



.modal_default_cancel{
    padding: 3px;
    width: 80px;
    background-color: #10aaae;
    color: #FFFFFF;
    border: 4px solid #10aaae;
    border-radius: 13px;
}


.border_white{
    border: 4px solid #10aaae;
}

*{
    font-family: 'Nunito', sans-serif;
}

h1{
    font-family: 'Nunito', sans-serif;
}

.cursorP{
    cursor: pointer!important;
}

.actionAdmin{
    cursor: pointer!important;
}

.actionAdmin:hover{
    color: #10aaae;
}

.w-150{
    width: 150%;
}



.color_seedWeb:hover{
    color: #10aaae;
}

.bgSeed{
    background-color: #10aaae !important;
}

.btnPerso {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #10aaae;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border: 4px solid #10aaae;
    box-shadow: 3px 3px 12px ;
    -webkit-box-shadow: 3px 3px 12px ;
    -moz-box-shadow: 3px 3px 12px ;
}


.btnPerso:hover {
    padding: 10px;
    box-shadow: 1px 1px 4px ;
    -webkit-box-shadow: 1px 1px 4px ;
    -moz-box-shadow: 1px 1px 4px ;
}