.color_seedWeb{
    color: #10aaae;
}

.color_seedWebH:hover{
    color: #10aaae !important;
}

.color_white{
    color: #FFFFFF;
}

.color_white:hover{
    color: #FFFFFF;
}

.modal_default_ok{
    padding: 3px;
    width: 80px;
    background-color: #10aaae;
    color: #FFFFFF;
    border: 4px solid #10aaae;
    border-radius: 13px;
}

.breadcrumb{
    color: #10aaae !important;
}

.btn-outline-seed {
    --bs-btn-color: #10aaae;
    --bs-btn-border-color: #10aaae;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #10aaae;
    --bs-btn-hover-border-color: #10aaae;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #10aaae;
    --bs-btn-active-border-color: #10aaae;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #10aaae;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #10aaae;
    --bs-gradient: none;
}



.modal_default_cancel{
    padding: 3px;
    width: 80px;
    background-color: #10aaae;
    color: #FFFFFF;
    border: 4px solid #10aaae;
    border-radius: 13px;
}


.border_white{
    border: 4px solid #10aaae;
}

*{
    font-family: 'Nunito', sans-serif;
}

h1{
    font-family: 'Nunito', sans-serif;
}

.cursorP{
    cursor: pointer!important;
}

.actionAdmin{
    cursor: pointer!important;
}

.actionAdmin:hover{
    color: #10aaae;
}

.w-150{
    width: 150%;
}

.mr-12-5{
    margin-right: 12.5%;
}

.ml-12-5{
    margin-left: 12.5%;
}

.mr-25{
    margin-right: 25%;
}

.ml-25{
    margin-left: 25%;
}

.borderSeed{
  border-color: #10aaae !important;
}

.mr-37-5{
  margin-right: 37.5%;
}

.ml-37-5{
  margin-left: 37.5%;
}





.color_seedWeb:hover{
    color: #10aaae;
}

.bgSeed{
    background-color: #10aaae !important;
}

.btnPerso {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #10aaae;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border: 4px solid #10aaae;
    box-shadow: 3px 3px 12px ;
    -webkit-box-shadow: 3px 3px 12px ;
    -moz-box-shadow: 3px 3px 12px ;
}


.btnPerso:hover {
    padding: 10px;
    box-shadow: 1px 1px 4px ;
    -webkit-box-shadow: 1px 1px 4px ;
    -moz-box-shadow: 1px 1px 4px ;
}

.meter {
    box-sizing: content-box;
    height: 20px; /* Can be anything */
    position: relative;
    margin: 60px 0 20px 0; /* Just for demo spacing */
    background: #555;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }
  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(
      center bottom,
      rgb(43, 194, 83) 37%,
      rgb(84, 240, 84) 69%
    );
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }
  .meter > span:after,
  .animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
  }
  
  .animate > span:after {
    display: none;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 50px;
    }
  }
  
  .seed > span {
    background-image: linear-gradient(#2eb3b8e8, #10aaae);
  }
  
  .nostripes > span > span,
  .nostripes > span::after {
    background-image: none;
  }
  
  #page-wrap {
    width: 490px;
    margin: 80px auto;
  }

  h1 {
    font-size: 42px;
    font-weight: 600;
    margin: 0 0 30px;
  }
  pre {
    background: #000;
    text-align: left;
    padding: 20px;
    margin: 0 auto 30px;
  }
  * {
    box-sizing: border-box;
  }